
{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#mytodo_List}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/mytodo/{{id}}">{{title}}</a></td>
            <td>{{date}}</td>
            <td>{{content}}</td>
        </tr>
    {{/mytodo_List}}
    </tbody>
</table>

<a href="/todolist" class="btn btn-primary">Todo List</a>
<a href="/mytodo/new">New Todo</a>

{{>layouts/footer}}